<div class="hero-unit">
    <div class="hero-unit-outer">
        <div class="hero-unit-inner">
            <h1>O que falta em Coimbra?</h1>
            <form id="suggestion-form" method="post" action="/create_entry">
                <input type="text" id="suggestion" name="suggestion" placeholder="Deixa a tua sugestão..." maxlength="301" />
            </form>
            <p id="warning">A sugestão deve ter entre 1 e 300 caracteres.</p>
        </div>
    </div>
    <div class="hero-unit-footer">
        <h3><a id="go-to-suggestions" href="#suggestions">ou vota nas sugestões submetidas</a></h3>
        <span class="suggestions-arrow">&darr;</span>
    </div>
</div>
<div id="suggestions">
    <div class="container">
        <div class="row">
            <div class="span10 offset1">
                <% if @entries.any? %>
                <table class="table">
                    <tbody>
                        <% @entries.each do |entry| %>
                        <tr id="suggestion-<%= entry.id %>">
                            <td class="suggestion-text"><h2><a href="/entry/<%= entry.id %>"><%= entry.text %></a></h2>
                                <p class="comment-count"><small><fb:comments-count href=http://oquefaltaemcoimbra.pt/entry/<%= entry.id %>>0</fb:comments-count> <span class="cm-label">comentários</span></small></p>
                            </td>
                            <td class="suggestion-votes">
                                <span><%= entry.vote_count %></span><br/>
                                <form method="post" action="/vote">
                                    <input type="hidden" name="entry_id" value="<%= entry.id %>">
                                    <input type="submit" value="Vota" class="btn btn-mini" <%= 'disabled title="Obrigado pelo teu voto!"' if entry.already_voted?(request.ip) %> onClick="_gaq.push(['_trackEvent', 'Vote', 'UpVote', 'Main Page']);">
                                </form>
                            </td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>
                <% else %>
                    <p>Ainda não foram submetidas sugestões. Porque não começas tu?</p>
                <% end %>
            </div>
        </div>
    </div>
</div>
